@model List<LaptopStore.Models.Product>

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h2>Quản lý sản phẩm</h2>

        <a asp-area="Admin"
           asp-controller="Product"
           asp-action="Create"
           class="btn btn-success">
            + Thêm sản phẩm
        </a>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tên</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>Giá</th>
                <th>Tồn kho</th>
                <th>Thao tác</th>
                <th>Hãng</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Cpu</td>
                    <td>@item.Ram</td>
                    <td>@item.Price.ToString("N0") VNĐ</td>
                    <td>@item.Quantity</td>
                    <td>@(item.BrandId) </td>
                                         
                    <td>
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-warning btn-sm">
                            Sửa
                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Xóa sản phẩm này?')">
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>